*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}
.container{

    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
    background: linear-gradient(400deg, #093041, #101010)
}

.slides img{
    width: 640px;
}

.slides h2{
    font-size: 30px;
    font-weight: 600;
    max-width: 650px;
}